<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Stylesmile.system.dao.SysDepartMapper">
    <resultMap id="depart" type="com.Stylesmile.system.entity.SysDepart"/>
    <parameterMap id="depart2" type="com.Stylesmile.system.entity.SysDepart"/>
    <select id="getSysDepartByNameAndPassword" resultMap="depart">
        SELECT  * FROM sys_depart WHERE  login_name=#{loginName} AND password=#{password} limit 1
    </select>
    <select id="getDepartList" resultMap="depart">
        SELECT  * FROM sys_depart
    </select>
    <select id="selectPageVo" resultMap="depart" parameterMap="depart2">
        SELECT  * FROM sys_depart
    </select>

</mapper>
