<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Stylesmile.system.dao.SysMenuMapper">
    <resultMap id="menu" type="com.Stylesmile.system.entity.SysMenu"/>
    <parameterMap id="menu2" type="com.Stylesmile.system.entity.SysMenu"/>
    <select id="getMenuList" resultMap="menu">
        SELECT  * FROM sys_menu
    </select>
    <select id="selectPageVo" resultMap="menu" parameterMap="menu2">
        SELECT  * FROM sys_menu
    </select>

</mapper>
