<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>layui</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/plugins/layui/css/layui.css">
	<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<!-- 顶部菜单 -->
		<ul class="layui-nav layui-layout-left">
		</ul>

		<div class="layui-logo">layui 后台布局</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item"><a href="">控制台</a></li>
			<li class="layui-nav-item"><a href="">商品管理</a></li>
			<li class="layui-nav-item"><a href="">用户</a></li>
			<li class="layui-nav-item">
				<a href="javascript:;">其它系统</a>
				<dl class="layui-nav-child">
					<dd><a href="">邮件管理</a></dd>
					<dd><a href="">消息管理</a></dd>
					<dd><a href="">授权管理</a></dd>
				</dl>
			</li>
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
					贤心
				</a>
				<dl class="layui-nav-child">
					<dd><a href="">基本资料</a></dd>
					<dd><a href="">安全设置</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item"><a href="">退了</a></li>
		</ul>
	</div>
	<!-- 左侧菜单导航 -->
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->

			<ul class="layui-nav layui-nav-tree">
				<li class="layui-nav-item layui-nav-itemed">
					<a class="" href="javascript:;">系统管理</a>
					<dl class="layui-nav-child">
						<dd url="/user/index.html"><a href="javascript:;">用户管理</a></dd>
						<dd url="/menu/index.html"><a href="javascript:;">菜单管理</a></dd>
						<dd url="/role/index.html"><a href="javascript:;">角色管理</a></dd>
						<dd url="/role/index.html"><a href="javascript:;">组织机构管理</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">解决方案</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;">列表一</a></dd>
						<dd><a href="javascript:;">列表二</a></dd>
						<dd><a href="">超链接</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item layui-nav-itemed" datapid="8" style="" lay-id="271b1338-e1aa-464b-99ec-e67ce1a21b6e">
					<a href="javascript:;">基础管理<span class="layui-nav-more"></span></a>
					<dl class="layui-nav-child">
						<dd class="layui-this" lay-id="70570f0f-e443-4a1a-b62a-9f4102b4317c"><a href="javascript:;" menuid="10" dataurl="/user/index.do"><i class="layui-icon"></i>
							用户管理
						</a></dd>
						<dd class="" lay-id="e652408a-07f9-4824-9554-1950ffe53323"><a href="javascript:;" menuid="11" dataurl="/admin/org/index.do"><i class="layui-icon"></i>
							组织机构管理
						</a></dd>
						<dd class="" lay-id="aaae32de-425d-498b-9632-1414f64e6a76"><a href="javascript:;" menuid="12" dataurl="/admin/role/index.do"><i class="layui-icon"></i>
							角色管理
						</a></dd>
						<dd class=""><a href="javascript:;" menuid="13" dataurl="/admin/menu/index.do"><i class="layui-icon"></i>
							菜单项
						</a></dd>
						<dd class=""><a href="javascript:;" menuid="14" dataurl="/admin/function/index.do"><i class="layui-icon"></i>
							功能点管理
						</a></dd>
						<dd class=""><a href="javascript:;" menuid="15" dataurl="/admin/dict/index.do"><i class="layui-icon"></i>
							字典数据管理
						</a></dd>
						<dd class=""><a href="javascript:;" menuid="21" dataurl="/admin/role/function.do"><i class="layui-icon"></i>
							角色功能授权
						</a></dd>
						<dd class=""><a href="javascript:;" menuid="22" dataurl="/admin/role/data.do"><i class="layui-icon"></i>
							角色数据授权
						</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<!-- 内容主体区域 -->
	<div class="layui-body" >
		<!-- 内容主体区域 -->
		<div class="layui-tab layui-tab-card allwidth_height">

			<!-- 菜单导航 -->
			<!--<ul class="layui-tab-title">
				<li class="layui-this">系统说明</li>
			</ul>-->

			<!-- 右边内容 -->
			<div class="layui-tab-content allwidth_height" >
				<div class="layui-tab-item layui-show allwidth_height" lay-id="1" id="iframe-body"  >
					<iframe src="/user/index.html"   class="allwidth_height"></iframe>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="/plugins/layui/layui.js"></script>
<script src="/plugins/layui/layui.all.js"></script>

<script>
    layui.use(['jquery'], function(){
        var $ = layui.$ //重点处
        $(function(){
            $("ul li dl dd").click(function(){
                var url = $(this).attr("url");
                $("#iframe-body").html("<iframe src='"+url+"' class='allwidth_height'></iframe>");
            })
        });
    });
</script>

</body>
</html>

<style>
	.allwidth_height{ width:100%;height:100%;
	}
</style>